@import "./assets/vars";
@import "./assets/reset";
@import "./assets/utils";

@import "./components/header/header";
@import "./components/home/home";
@import "./components/about/about";
@import "./components/experience/experience";
@import "./components/projects/projects";
@import "./components/contact/contact";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;

  &::-webkit-scrollbar {
    background-color: transparent;
    background-color: $clr-dark;
    width: 4px;
    user-select: all;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $clr-lightGold;
    border-radius: 0.5rem;
  }

  @media (max-width: 768px) {
    scroll-padding-top: 6rem;
  }

  @media (max-width: 600px) {
    scroll-padding-top: 8rem;
  }
}

.App {
  position: relative;
  min-height: 100vh;

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $clr-dark;
  }
}
